<div class="chat-block">
  <div #scrollChat class="block-body" (scroll)="scrollUp($event)">
    <div class="c-b-mid">
      <div #spaceEl class="space">
        <span *ngIf="isEnd"> Сообщения закончились :(</span>
      </div>
      <div class="message-row" *ngFor="let m of chatService.messages">

        <app-mess-user-icon *ngIf="m.first" [image]="getUser(m).image" [position]="m.out"></app-mess-user-icon>
        <div [ngClass]="{'content': true, 'content__left': !m.out, 'content__right': m.out}">
          <app-mess-header *ngIf="m.first" [name]="getUser(m).name" [date]="m.date" [position]="m.out">
          </app-mess-header>
          <app-mess-text [message]="m.message" [position]="m.out"></app-mess-text>
          <app-mess-photo *ngIf="m.photo" [image]="m.photo" [position]="m.out"></app-mess-photo>
          <app-mess-video *ngIf="m.media?.document?.mime_type === 'video/mp4'" [preview]="m.preview" [position]="m.out"
            [media]="m.media"></app-mess-video>
          <app-mess-audio *ngIf="m.media?.document?.mime_type === 'audio/ogg'" [media]="m.media"></app-mess-audio>
        </div>
      </div>
    </div>
  </div>
  <app-textarea></app-textarea>
</div>