<div class="chat-block">
    <perfect-scrollbar #scrollChat style="padding-right: 10px;" (psScrollUp)="scrollUp($event)">
      <div class="c-b-mid">
        <div *ngFor="let m of messages" class="message-row" [ngSwitch]="m.out">
          <div class="m-r-text__left" *ngSwitchCase="false">
            {{m.message}}
          </div>
          <div class="m-r-text__right" *ngSwitchCase="true">
            {{m.message}}
          </div>
        </div>
      </div>
    </perfect-scrollbar>
    <div class="c-b-bot">
      <textarea class="area" placeholder="Write a message..." (keydown)="sendMessage($event)"></textarea>
    </div>
  </div>