<button class="but-send" (click)="sendCode()">
  Отправить код
</button>

<input type="number" [(ngModel)]="phone_code">

<button class="but-in" (click)="authIn()">
  Войти
</button>

<button class="but-out">

</button>

<button class="but-out" (click)="getContacts()">
  Контакты
</button>

<img [src]='image' />
<div class="blocks">
  <div class="block">
    <perfect-scrollbar style="padding-right: 10px;">

      <div *ngFor="let d of telegAPIservice.dialogList; let i = index" class="row" (click)="selectDialog(d)">
        <div class="r-image">
          <img *ngIf="d.image" [src]="d.image">
          <div *ngIf="!d.image" class="r-i-icon">
            <div class="r-i-i-text">
              {{d.title.charAt(0)}}
            </div>
          </div>
        </div>
        <div class="r-text">
          <div class="r-t-title">
            {{d.title}}
          </div>
          <div class="r-t-message">
            <span>user: </span>{{d.message}}
          </div>
        </div>
        <div class="r-info">
          <div class="r-i-time"> {{d.date | dateMessage}}</div>
          <div class="r-i-count">
            <span *ngIf="d.count !== 0">{{d.count}}</span>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>

  <div class="chat-block">
    <perfect-scrollbar style="padding-right: 10px;">
      <div class="c-b-mid">
        <div *ngFor="let m of telegAPIservice.messages" class="message-row" [ngSwitch]="m.out">
          <div class="m-r-text__left" *ngSwitchCase="false">
            {{m.message}}
          </div>
          <div class="m-r-text__right" *ngSwitchCase="true">
            {{m.message}}
          </div>
        </div>
      </div>
    </perfect-scrollbar>
    <div class="c-b-bot">
      <textarea class="area" placeholder="Write a message..." (keydown)="sendMessage($event)"></textarea>
    </div>
  </div>

</div>