
    .but-send {
        
    }
    .block {
        width: 400px;
        height: 100%;
        overflow: hidden;
        .row {
            margin: 4px 0px;
            padding: 8px;
            color: black;
            background: white;
            height: 40px;
            overflow: hidden;
        }
    }

