.header {
    &__left {
        color: #73b9f5;
        text-align: left;
        margin-bottom: 5px;
    }

    &__right {
        color: #ffc107;
        text-align: right;
        margin-bottom: 5px;
    }
}