<div class="toolbar">
    <div class="button" (click)="openConfig()">
        <mat-icon>menu</mat-icon>
    </div>
    <div class="button"  routerLink="/main" routerLinkActive="active" >
        <mat-icon svgIcon="message"></mat-icon>
    </div>
    <!--
    <div class="button"  routerLink="/teleg" routerLinkActive="active" >
        <mat-icon svgIcon="message"></mat-icon>
    </div>
    <div class="button"  routerLink="/vk" routerLinkActive="active" >
        <mat-icon svgIcon="message"></mat-icon>
    </div>
    -->
</div>