

    .block {
        width: 550px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .block-header {
            width: 558px;
            height: 60px;
            box-shadow: 1px 1px 10px 1px black;
            z-index: 10;
        }
        .space {
            height: 4px;
            border: beige;
            width: 100%;
            background: #17212b;
        }
        
        .row:hover {
            background: #1d3044;
        }
    }

